body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

nav,
header,
footer {
    padding: 0 300px;
}

nav,
header,
footer {
    background-color: #1f2937;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 16px;
}

.icon {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    flex-flow: row;
    gap: 16px;

    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 50px;
}

h1 {
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

h3 {
    margin-bottom: 0px;
}

header div {
    width: 450px;
}

header p {
    font-size: 18px;
    color: #E5E7EB;
}

header img {
    height: auto;
    width: 500px;
}

header button {
    font-size: 18px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

header button:hover {
    background-color: #2771E5;
}

.container-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-block: 50px;
}

.image-card {
    border: solid;
    border-color: #3882F6;
    border-radius: 8px;
    width: 300px;
    height: 225px;
}

.card {
    text-align: center;
    display: flex;
    flex-flow: column;
}

.container-quote {
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column;
    padding: 50px 300px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.quoter {
    align-self: flex-end;
    font-size: 24px;
}

.container-action {
    margin: 50px 300px;
    padding-block: 24px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: #F9FAF8;
}

.action-text {
    display: flex;
    flex-flow: column;
}

.action-text p {
    margin-top: 0px;
}

.container-action button {
    font-size: 18px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 8px;
    border: solid;
    cursor: pointer;
}

.container-action button:hover {
    background-color: #2771E5;
}


footer {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}